faiss_cpu
langchain-huggingface
langchain-community   
langchain-groq                                                                                        
pypdf
python-dotenv
streamlit
langgraph
pydantic
pandas
sentence-transformers